<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.word.mapper.VocabularyEverydayRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.english.word.entity.mybatis.VocabularyEverydayRecordEntity">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="chinese_word" property="chineseWord" />
        <result column="english_word" property="englishWord" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="vo_status" property="voStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id, chinese_word, english_word, description, create_time, update_time, user_id, vo_status
    </sql>

</mapper>
